{% extends 'base.html' %}
{% load static %}

{% block main %}
    <h2 class="display-2 text-center" style="margin-top: 10px">Our Fleet</h2>
    <div class="row my-4 d-flex justify-content-center align-items-center">
        {% for product in products %}
        <div class="col-xl-4 text-center">
            <div class="card h-100" >
              <a href="{% url 'product' product.pk%}">
                  <img class="card-img-top" src="{% static product.images_list.0 %}" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}