{% extends 'base.html' %}
{% load static %}
{% block current_page %}
    {% url 'en_all_products' %}
{% endblock %}
{% block main %}
    <h2 class="display-2 text-center" style="margin-top: 10px">Наши продукты</h2>
    <div class="row my-4 d-flex justify-content-center align-items-center mw-100">
        {% for product in products %}
        <div class="col-xl-4 mx-2 my-2 text-center">
            <div class="card h-100" >
              <a href="{% url 'product' product.pk%}">
                  <img class="card-img-top" src="{% static product.images_list.0 %}" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}