{% extends 'en_base.html' %}
{% load static %}
{% block current_page %}
    {% url 'product' product.pk%}
{% endblock %}
{% block main %}
    <h2 class="display-2 text-center" style="margin-top: 10px; margin-bottom: 10px">{{ product.en_name }}</h2>
    <div class="row mw-100">
        <div class="bd-example container ps-lg-4 col-xl-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  {% for i in product.images_list %}
                    <div class="carousel-item {% if i ==  product.images_list.0%}active{% endif %}">
                      <img src="{% static i %}" class="d-block w-100" alt="...">
                    </div>
                  {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-5 mw-100" style="padding-left: 25px; padding-right: 25px">
        <div class="col-xl-2 my-2 mw-100">
            <div class="card d-flex justify-content-center text-center py-3">
                <div>
                    <img src="{% static 'products/boat.png' %}" alt="" class="" height="100" width="100">
                </div>
                <h5 class="display-6">Length</h5>
                <p class="fs-5">{{ product.length }} m</p>
            </div>
        </div>
        <div class="col-xl-2 my-2 mw-100">
            <div class="card d-flex justify-content-center text-center py-3">
                <div>
                    <img src="{% static 'products/cruise.png' %}" alt="" class="" height="100" width="100">
                </div>
                <h5 class="display-6">Wight</h5>
                <p class="fs-5">{{ product.width }} m</p>
            </div>
        </div>
        <div class="col-xl-2 my-2 mw-100">
            <div class="card d-flex justify-content-center text-center py-3">
                <div>
                    <img src="{% static 'products/disp.png' %}" alt="" class="" height="100" width="100">
                </div>
                <h5 class="display-6">Draft<br></h5>
                <p class="fs-5">{{ product.displacement }} t</p>
            </div>
        </div>
        <div class="col-xl-2 my-2 mw-100">
            <div class="card d-flex justify-content-center text-center py-3">
                <div>
                    <img src="{% static 'products/user.png' %}" alt="" class="" height="100" width="100">
                </div>
                <h5 class="display-6">Passengers</h5>
                <p class="fs-5">{{ product.passengers }}</p>
            </div>
        </div>
    <div class="col-xl-2 my-2 mw-100">
            <div class="card d-flex justify-content-center text-center py-3">
                <div>
                    <img src="{% static 'products/weight-scale.png' %}" alt="" class="" height="100" width="100">
                </div>
                <h5 class="display-6">Max load</h5>
                <p class="fs-5">{{ product.max_load }} t</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" >


    </div>

    <div class="row justify-content-center mw-100" style="padding-left: 20px; padding-right: 20px">
        <div class="col-xl-8 text-center fs-5" >
            <p>{{ product.en_description|safe }}</p>
        </div>
    </div>
    <div class="row text-center mb-5 mw-100 d-flex justify-content-center">
        <div class="col-xl-2">
            <a class="btn btn-lg btn-outline-secondary" href="/media/{{ product.en_spec }}" style="">Download all spec</a>
        </div>
        <div class="col-xl-2">
            <a class="btn btn-lg btn-outline-secondary" href="{% url 'en_homepage' %}#contacts" style="">Contact us</a>
        </div>


    </div>
{% endblock %}