{% extends 'en_base.html' %}
{% load static %}
{% block current_page %}
    {% url 'all_news' %}
{% endblock %}
{% block main %}
    <h2 class="display-2 text-center" style="margin-top: 10px">News</h2>
    <div class="row my-4 d-flex justify-content-center align-items-center mw-100">
        {% for new in news %}
        <div class="col-xl-3 text-center">
            <div class="card h-100" >
              <a href="{% url 'en_one_new' new.pk%}">
                  <img class="card-img-top" src="/media/{{ new.image }}" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ new.en_title }}</h5>
                <p class="card-text">{{ new.en_text| slice:60}}...</p>
                <a href="{% url 'en_one_new' new.pk%}" class="btn btn-primary">Read more</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}