{% extends 'base.html' %}
{% load static %}
{% block current_page %}
    {% url 'en_one_new' new.pk%}
{% endblock %}
{% block main %}
    <style>
        .small{
            display: none;
        }
        @media (max-width: 1200px) {
            *{
                font-size: 30px;
            }
            .big{
                display: none;
            }
            .small{
                display: block;
            }
        }
    </style>
    <h2 class="display-2 text-center" style="margin-top: 200px">{{ new.ru_title }}</h2>

    <div class="row d-flex justify-content-center mw-100">
        <div class="col-xl-10 d-flex justify-content-center">
            <img src="/media/{{ new.image }}" alt="new's image" class="big w-50">
            <img src="/media/{{ new.image }}" alt="new's image" class="small w-100">
        </div>
    </div>
    <div class="row d-flex justify-content-center my-3 mw-100">
        <div class="col-xl-10">
            <p class="fs-5">{{ new.ru_text }}</p>
        </div>
    </div>
{% endblock %}