{% extends 'en_base.html' %}
{% load static %}
{% block current_page %}
    {% url 'homepage' %}
{% endblock %}
{%block main%}
<div class="position-relative overflow-hidden text-center bg-light h-100 d-flex" style="background-image: url({% static 'main/img/sea.jpeg' %}); background-position: center ">
    <div class="p-lg-5 mx-auto my-5" >
        <div class="h-25"></div>
      <h1 class="text-light fw-normal display-1 my-5">LuckyBoats</h1>
      <p class="lead display-2 text-light">New Vision - New Decision for You</p>
      <a class="btn btn-lg btn-outline-light" href="#contacts" style="">Contact us</a>
    </div>
    <style>
        .small{
            display: none;
        }
        @media (max-width: 1200px) {
            *{
                font-size: 30px;
            }
            .big{
                display: none;
            }
            .small{
                display: block;
            }
        }
    </style>
</div>
<a name="about"></a>
<div style="margin-top: 10px">

    <h2 class="text-center display-2" name="about">About Us</h2>
    <div class="container mt-5 ">
        <div class="row align-items-center">
            <div class="col-xl-6">
                    <img src="{% static 'main/img/ort.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6" style="margin-top: 10px">
                <p class="lead fw-normal">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae deleniti dolores ea eaque exercitationem fuga illum optio quo soluta. Ab aspernatur assumenda, aut consequuntur debitis dolor dolorem ducimus fuga illo inventore nam necessitatibus nesciunt obcaecati, perspiciatis quas similique unde! Accusantium amet animi aut, autem beatae, dolorum fuga id illum iure laudantium libero molestias natus obcaecati sunt velit! Aliquam assumenda esse ipsa ipsam nobis non porro possimus soluta temporibus vero. Accusantium amet blanditiis culpa dolor esse, exercitationem facilis illum, labore laboriosam, perspiciatis qui velit voluptate voluptatum! Culpa id illo minus necessitatibus, recusandae similique tenetur! Autem dignissimos fuga mollitia perspiciatis ut.
                </p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 10px; padding: 35px" class="w-100">
    <a name="products"></a>
    <h2 class="text-center display-2" name="products">Our products</h2>
    <div class="row my-4 d-flex justify-content-center">
        <div class="col-xl-3 text-center" style="">
            <div class="card" >
              <a href="{% url 'en_product' 1%}"><img class="card-img-top" src="{% static 'main/img/moana2.jpeg' %}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Rau Yachts Moana 770</h5>
              </div>
            </div>
        </div>
        <div class="col-xl-3 text-center " style="">
            <div class="card h-100" >
                <a href="{% url 'en_product' 2%}"><img class="card-img-top" src="{% static 'main/img/comfort1.jpg' %}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Comfort 36 ft</h5>
              </div>
            </div>
        </div>
         <div class="col-xl-3 text-center" style="">
            <div class="card h-100" >
                <a href="{% url 'en_product' 3%}"><img class="card-img-top" src="{% static 'main/img/t283.jpg' %}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Atak Yachts T28 Cruiser</h5>
              </div>
            </div>
         </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'en_all_products'%}">See all products</a>
    </div>
</div>
<div style="margin-top: 10px; padding: 35px" class="w-100">
    <a name="products"></a>
    <h2 class="text-center display-2" name="products">Our news</h2>
    <div class="row my-4 d-flex justify-content-center">
        {% for i in news %}
            <div class="col-xl-3 text-center " style="">
                <div class="card h-100" >
                    <a href="{% url 'en_one_new' i.pk%}"><img class="card-img-top" src="/media/{{i.image}}" alt="Card image cap"></a>
                  <div class="card-body">
                    <h5 class="card-title">{{ i.en_title}}</h5>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'en_all_news'%}">All News</a>
    </div>
</div>
<div style="margin-top: 10px">
    <a name="contacts"></a>
    <div class="big">
        <div class="text-center display-2" >
            Contacts
        </div>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-3 text-center">
                    <h6 class="display-6">Phones</h6>

                </div>
                <div class="col-md-3 text-center">
                    <h6 class="display-6">Email</h6>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="display-6">Socials</h6>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="display-6">Address</h6>
                </div>

            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3 text-center">
                    <p class="fs-4">+7 905-217-90-00</p>
                    <p class="fs-4">+7 905-271-90-00</p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="fs-4">info@luckyboats.ru</p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-instagram"></i> @LuckyBoats
                        </a>
                    </p>
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-facebook"></i> Best_Yachts
                        </a>
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href = "https://goo.gl/maps/Xqxrqot4TcS1wNPi7" class="fs-4 link-dark" style="text-decoration: none">Saint Petersburg, Russia<br></a>
                    <a href = "https://goo.gl/maps/bPYeopyLRQYfAfDt6" class="fs-4 link-dark" style="text-decoration: none">Moscow, Russia</a>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mt-3">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header blue-gradient">
                    <h5 class="fs-2 text-center">Saint Petersburg</h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
                    <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="overflow: hidden; padding-bottom: 56.25%; position:relative; height: 0">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1995.7403696057575!2d30.304402216196397!3d59.98621586522161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469634075cf5f513%3A0x6793c792e4a1a1fc!2z0KHRgtCw0YDQvtCx0LXQu9GM0YHQutCw0Y8g0YPQuy4sIDQsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTczNDI!5e0!3m2!1sru!2sru!4v1635437642386!5m2!1sru!2sru"
                        style="border:0; left: 0; top: 0; height: 100%; width: 100%; position: absolute" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 mt-3">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header peach-gradient">
                    <h5 class="fs-2 text-center">Moscow</h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
                    <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="overflow: hidden; padding-bottom: 56.25%; position:relative; height: 0">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3464228385!2d36.825139684750134!3d55.58152447908879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1635437692112!5m2!1sru!2sru"
                        style="border:0; left: 0; top: 0; height: 100%; width: 100%; position: absolute" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="btn btn-outline-secondary btn-lg" href="{% url 'en_contact' %}" style="width: 200px; height: 50px">Write to us!</a>
        </div>
    </div>
    <div class="small">
        <h2 class="text-center display-2" >Contacts</h2>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-items-center">

                <div class="col-xl-3 text-center" style="">
                    <h6 class="display-6">Email</h6>
                    <p class="fs-4">info@luckyboats.ru</p>
                </div>
                <div class="col-xl-3 text-center">
                    <h6 class="display-6">Socials</h6>
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-instagram"></i> @LuckyBoats
                        </a>
                    </p>
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-facebook"></i> LuckyBoats
                        </a>
                    </p>
                </div>
                <div class="col-xl-3 text-center">
                    <h6 class="display-6">Phones</h6>
                    <p class="fs-4">+7 905-217-90-00</p>
                    <p class="fs-4">+7 905-271-90-00</p>
                </div>
                <div class="col-xl-3 text-center">
                    <h6 class="display-6">Address</h6>
                    <a href = "https://goo.gl/maps/Xqxrqot4TcS1wNPi7" class="fs-4 link-dark" style="text-decoration: none">Saint Petersburg, Russia<br></a>
                    <a href = "https://goo.gl/maps/bPYeopyLRQYfAfDt6" class="fs-4 link-dark" style="text-decoration: none">Moscow, Russia</a>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header blue-gradient">
                    <h5 class="mb-0">Saint Petersburg</h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
                    <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="overflow: hidden; padding-bottom: 56.25%; position:relative; height: 0">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1995.7403696057575!2d30.304402216196397!3d59.98621586522161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469634075cf5f513%3A0x6793c792e4a1a1fc!2z0KHRgtCw0YDQvtCx0LXQu9GM0YHQutCw0Y8g0YPQuy4sIDQsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTczNDI!5e0!3m2!1sru!2sru!4v1635437642386!5m2!1sru!2sru"
                        style="border:0; left: 0; top: 0; height: 100%; width: 100%; position: absolute" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header peach-gradient">
                    <h5 class="mb-0">Moscow</h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
                    <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="overflow: hidden; padding-bottom: 56.25%; position:relative; height: 0">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3464228385!2d36.825139684750134!3d55.58152447908879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1635437692112!5m2!1sru!2sru"
                        style="border:0; left: 0; top: 0; height: 100%; width: 100%; position: absolute" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="btn btn-outline-secondary btn-lg" href="{% url 'en_contact' %}" style="width: 200px; height: 50px">Write to us</a>
        </div>
    </div>
</div>
{%endblock%}