{% extends 'base.html' %}
{% load static %}
{% block current_page %}
    {% url 'en_homepage' %}
{% endblock %}
{%block main%}
<div class="position-relative overflow-hidden text-center bg-light h-100 d-flex" style="background-image: url({% static 'main/img/sea.jpeg' %}); background-position: center ">
    <div class="col-lg-5 p-lg-5 mx-auto my-5" >
      <h1 class="text-light display-2 my-5">LuckyBoats</h1>
      <p class="lead fw-normal display-6 text-light">New Vision - New Decision</p>
      <a class="btn btn-lg btn-outline-light my-3" href="#contacts" style="">Свяжитесь с нами</a>
    </div>
    <style>
        .small{
            display: none;
        }
        @media (max-width: 1200px) {
            *{
                font-size: 30px;
            }
            .big{
                display: none;
            }
            .small{
                display: block;
            }
        }
    </style>
</div>
<a name="about"></a>
<div style="margin-top: 10px">

    <h2 class="text-center display-2" name="about">О нас</h2>
    <div class="container mt-5 ">
        <div class="row align-items-center">
            <div class="col-xl-6">
                    <img src="{% static 'main/img/ort.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6" style="margin-top: 10px">
                <p class="lead fw-normal">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae deleniti dolores ea eaque exercitationem fuga illum optio quo soluta. Ab aspernatur assumenda, aut consequuntur debitis dolor dolorem ducimus fuga illo inventore nam necessitatibus nesciunt obcaecati, perspiciatis quas similique unde! Accusantium amet animi aut, autem beatae, dolorum fuga id illum iure laudantium libero molestias natus obcaecati sunt velit! Aliquam assumenda esse ipsa ipsam nobis non porro possimus soluta temporibus vero. Accusantium amet blanditiis culpa dolor esse, exercitationem facilis illum, labore laboriosam, perspiciatis qui velit voluptate voluptatum! Culpa id illo minus necessitatibus, recusandae similique tenetur! Autem dignissimos fuga mollitia perspiciatis ut.
                </p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 10px; padding: 35px" class="w-100">
    <a name="products"></a>
    <h2 class="text-center display-2" name="products">Наши Яхты</h2>
    <div class="row my-4 d-flex justify-content-center align-items-center">
        <div class="col-xl-3 text-center" style="">
            <div class="card" >
              <a href="{% url 'product' 1%}"><img class="card-img-top" src="{% static 'main/img/moana2.jpeg' %}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Rau Yachts Moana 770</h5>
              </div>
            </div>
        </div>
        <div class="col-xl-3 text-center " style="">
            <div class="card h-100" >
                <a href="{% url 'product' 2%}"><img class="card-img-top" src="{% static 'main/img/comfort1.jpg' %}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Comfort 36 ft</h5>
              </div>
            </div>
        </div>
         <div class="col-xl-3 text-center" style="">
            <div class="card h-100" >
                <a href="{% url 'product' 3%}"><img class="card-img-top" src="{% static 'main/img/t283.jpg' %}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Atak Yachts T28 Cruiser</h5>
              </div>
            </div>
         </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'all_products'%}">Посмотреть все</a>
    </div>
</div>
<div style="margin-top: 10px; padding: 35px" class="w-100">
    <a name="products"></a>
    <h2 class="text-center display-2" name="products">Новости</h2>
    <div class="row my-4 d-flex justify-content-center">
        {% for i in news %}
            <div class="col-xl-3 text-center " style="">
                <div class="card h-100" >
                    <a href="{% url 'one_new' i.pk%}"><img class="card-img-top" src="/media/{{i.image}}" alt="Card image cap"></a>
                  <div class="card-body">
                    <h5 class="card-title">{{ i.ru_title}}</h5>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'all_news'%}">Все новости</a>
    </div>
</div>
<div style="margin-top: 10px">
    <a name="contacts"></a>
    <div class="big">
        <div class="text-center display-4" >
            <h7 class="display-4">Контакты</h7>
        </div>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-3 text-center">
                    <h6 class="display-6">Телефоны</h6>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="display-6">Почта</h6>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="display-6">Социальные сети</h6>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="display-6">Адрес</h6>
                </div>

            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3 text-center">
                    <p class="fs-4">+7 999-999-99-99</p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="fs-4">info@luckyboats.ru</p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-instagram"></i> @Lucky_Boats
                        </a>
                    </p>
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-facebook"></i> Lucky_Boats
                        </a>
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <a href = "https://goo.gl/maps/ja68s8QfwknakQZx8" class="fs-4 link-dark" style="text-decoration: none">Санкт-Петербург <br>Россия</a>
                </div>

            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="btn btn-outline-secondary btn-lg" href="{% url 'contact' %}">Написать нам</a>
        </div>
    </div>
    <div class="small">
        <h2 class="text-center display-4" >Контакты</h2>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-items-center">

                <div class="col-xl-3 text-center" style="">
                    <h6 class="display-6">Почта</h6>
                    <p class="fs-4">info@luckyboats.ru</p>
                </div>
                <div class="col-xl-3 text-center">
                    <h6 class="display-6">Социальные сети</h6>
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-instagram"></i> @Lucky_Boats
                        </a>
                    </p>
                    <p class="fs-4">
                        <a href="#" class="link-dark fs-4" style="text-decoration: none">
                            <i class="bi bi-facebook"></i> Lucky_Boats
                        </a>
                    </p>
                </div>
                <div class="col-xl-3 text-center">
                    <h6 class="display-6">Телефоны</h6>
                    <p class="fs-4">+7 999-999-99-99</p>
                </div>
                <div class="col-xl-3 text-center">
                    <h6 class="display-6">Адрес</h6>
                    <a href = "https://goo.gl/maps/ja68s8QfwknakQZx8" class="fs-4 link-dark" style="text-decoration: none">Санкт-Петербург <br>Россия</a>
                </div>

            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="btn btn-outline-secondary btn-lg" href="{% url 'contact' %}">Написать нам</a>
        </div>
    </div>
</div>
{%endblock%}